asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==3.2
django-cors-headers==4.2.0
djangorestframework==3.14.0
dnspython==2.4.2
gunicorn==21.2.0
mysqlclient==2.2.0
openpyxl==3.1.2
packaging==23.1
pytz==2023.3.post1
sqlparse==0.4.4
whitenoise==6.5.0